
body {
		
		background-attachment: fixed;
		background-position: center; 
		background-repeat: no-repeat;
		-webkit-animation: backgroundAnimation 25s linear alternate infinite;

}

@-webkit-keyframes backgroundAnimation {
	0%{background-image: url("../img/1.jpg")}
	50%{background-image: url("../img/2.jpg")}
	100%{background-image: url("../img/3.jpg")}
}